.banner-container {
	display: flex;
	justify-content: center;
	height: 350px;
	margin: 0 auto;
	margin-bottom: 25px;
	width: 40%;
	object-fit: cover;
	border-radius: 15px;
}
@media screen and (max-width: 800px) {

.banner-container {
    height: 180px;
	margin: 0 auto;
	margin-bottom: 25px;
	width: 80%;
	object-fit: cover;
	border-radius: 15px;
}
}