 .footer {
    
	&-section {
		height: 109px;
		margin-top: 40px;
		background-color: rgb(245, 245, 245);
		color: black;
		text-align: center;
	}
	&-logo {
		height: 38px;
		margin-top: 50px;
        
	}
	&-text {
		font-family: montserrat;
		font-size: 20px;
		font-weight: 500;
		padding-top: 40px;
		}
	}
